.box {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;

    &__item {
        padding: 1rem;
        position: relative;
        width: 250px;
    }
}