.table {
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;

    &__line {
        padding: .7rem;
        border: 1px solid #ddd;
        text-align: center;
        height: 50px;
    }

    &__arrow {
        position: relative;
        width: 50px;

        &-btn {
            cursor: pointer;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: transparent;
            border: none;
            color: #fff;
        }

        &--up {
            top: 5px;
        }

        &--down {
            bottom: 5px;
        }
    }


}